<div>
    <div class="p-5 text-center">
    <h1>Your Aadhar Card Detials </h1></div>
<div class="flex items-center justify-center p-10 mt-5">

<table class="table-fixed border-collapse">
    <thead>
      <tr>
        <th class="border border-slate-300 ...">First Name</th>
        <th class="border border-slate-300 ...">Last Name</th>
        <th class="border border-slate-300 ...">House Address</th>
        <th class="border border-slate-300 ...">Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td class="border border-slate-300 ...">{{details.data.First_Name}}</td>
        <td class="border border-slate-300 ...">{{details.data.Last_Name}}</td>
        <td class="border border-slate-300 ...">{{details.data.Home_Address}}</td>
        <td class="border border-slate-300 ...">{{details.data.Phone_number}}</td>
      </tr>
    </tbody>
  </table>
  </div>
  <div>
<h3 class="text-center">Your Aadhar Card Number is :{{details.data.Aadhar_Number}}</h3>
  </div>
</div>